<div class="container">
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li routerLinkActive="active"class="nav-item">
            <a class="nav-link" routerLink="/lugares">Lugares</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link active" routerLink="/contacto">Contacto</a>
          </li>
        </ul>
      </div><!-- /card-header-->  
    </div><!-- /card text-center-->  

    <div class="jumbotron">
      <form>
        <div class="col text-center mb-12">
          <h3>Give us a few details so we can contact with you!</h3>
        </div> <!-- /col text-center -->  

      <div class="form-row"> 

            <div class="form-group col-md-12 InputWithIcon InputIconBg">
                <p>
                    <input type="text" class="form-control" placeholder="Full name">
                    <span octicon="note" width="21"></span> 
                </p>
            </div> <!-- /form-group-->  
                      

            <div class="form-group col-md-12 InputWithIcon InputIconBg">
                <p>
                    <input type="text" class="form-control" placeholder="Email">
                    <span octicon="mail" width="21"></span> 
                </p>
            </div> <!-- /form-group-->  
        
                  
            <div class="form-group col-md-12 InputWithIcon InputIconBg" >         
              <p>
                  <input type="date" class="form-control" id="" placeholder="Date of Birth">
                  <span octicon="gift" width="21"></span> 
              </p>         
            </div> <!-- /form-group--> 

            <div class="form-group col-md-4 InputWithIcon InputIconBg">       
                <p>
                    <select id="inputState" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                      <span octicon="organization" width="21"></span>
                </p>               
            </div> <!-- /form-group-->           
                  
            <div class="form-group col-md-4 InputWithIcon InputIconBg">           
              <p>
                  <input type="text" class="form-control" id="inputCity" placeholder="City">
                  <span octicon="globe" width="21"></span> 
              </p>         
            </div> <!-- /form-group--> 

            <div class="form-group col-md-4 InputWithIcon InputIconBg">          
                <p>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment">
                    <span octicon="home" width="24"></span> 
                  </p>           
              </div> <!-- /form-group-->                           
                  
            <div class="form-group col-md-2 InputWithIcon InputIconBg">
              <p>                 
                  <input type="text" class="form-control" id="inputZip" placeholder="Postal Code*">
                  <span octicon="location" width="19"></span> 
              </p>                            
            </div> <!-- /form-group-->        
          </div> <!-- /form-row--> 
            
          <div class="form-group">
                <div class="form-check">       
                  <input class="form-check-input" type="checkbox" id="gridCheck">       
                  <label class="form-check-label" for="gridCheck">     
                    I agree to the Terms and Conditions   
                  </label>
                </div><!-- /form-check--> 
        
                <div class="col-lg-3 offset-lg-9 col-md-2 offset-md-8 col-sm" id="boton">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div> <!-- /boton--> 
          </div> <!-- /form-group--> 
    </form> <!-- /form--> 

  </div> <!-- /jumbotron--> 
</div> <!-- /container--> 

