<div class="container">
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li routerLinkActive="active"class="nav-item">
            <a class="nav-link" routerLink="/lugares">Lugares</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link active" routerLink="/contacto">Contacto</a>
          </li>
          
        </ul>
      </div>
    </div>

<div class="jumbotron">
  <form>

    <div class="col text-center">
      <h3>Give us a few details so we can contact with you!</h3>
    </div>
            
    <div class="form-row">
        <div class="col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>

        <div class="col-md-6">
            <label for="inputEmail4">Last Name</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
                  

        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
                

    </div>
              
    <div class="form-group">         
      <label for="inputAddress">Age</label>            
      <input type="text" class="form-control" id="inputAddress" placeholder="Age">         
    </div>
              
    <div class="form-group">          
      <label for="inputAddress2">Gender</label>        
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">       
    </div>
              
    <div class="form-row">          
      <div class="form-group col-md-6">           
        <label for="inputCity">Country</label>         
        <input type="text" class="form-control" id="inputCity" placeholder="Country">        
      </div>
              
      <div class="form-group col-md-4">       
        <label for="inputState">City</label>        
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
                
      </div>
              
      <div class="form-group col-md-2">                
        <label for="inputZip">Portal code*</label>                
        <input type="text" class="form-control" id="inputZip" placeholder="Postal Code*">            
      </div>        
    </div>
              
    <div class="form-group">         
      <div class="form-check">       
        <input class="form-check-input" type="checkbox" id="gridCheck">       
        <label class="form-check-label" for="gridCheck">     
          I agree to the Terms and Conditions   
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

  </div>
</div> 