<header>
<div class ="container">

		<nav class="navbar navbar-expand-lg navbar-light">

				<a class="navbar-brand active" id="titulo" href="#">
						<span octicon="zap" width="18"></span>
						TITTLE
						</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
									 <!-- nav-justified-->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">	        	 
						
		          <li routerLinkActive="active" class="nav-item dropdown">
		            <a class="nav-link dropdown-toggle" href="#" id="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ITEM #1</a>
		            <div class="dropdown-menu" aria-labelledby="dropdown01">
		              <a class="dropdown-item" href="#">Action</a>
		              <a class="dropdown-item" href="#">Another action</a>
		              <a class="dropdown-item" href="#">Something else here</a>
		            </div>
		          </li>

		          <li routerLinkActive="active" class="nav-item" >
		            <a class="nav-link" href="#" id="item">ITEM #2</a>
							</li>

		          <li routerLinkActive="active" class="nav-item" >
		            <a class="nav-link" href="#" id="item">ITEM #3</a>
							</li>
							
							<li routerLinkActive="active" class="nav-item dropdown" >
									<a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="item">Angular</a>
									<div class="dropdown-menu" aria-labelledby="dropdown01">
										<a class="dropdown-item" [routerLink]="['angular']">Inicio</a>
										<a class="dropdown-item" [routerLink]="['lugares']">Lugares</a>
										<a class="dropdown-item" [routerLink]="['contacto']">Contacto</a>										
								</div>
							</li>

		          <li routerLinkActive="active" class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="item">Bootstrap</a>
		            <div class="dropdown-menu" aria-labelledby="dropdown01">
		              <a class="dropdown-item" [routerLink]="['bootstrap']">Inicio</a>
		              <a class="dropdown-item" [routerLink]="['grillas']">Grillas</a>
		              <a class="dropdown-item" href="#">Something else here</a>
		            </div>
		          </li>

		          

					</ul>
				

	        <form class="form-inline mt-2 mt-md-0">
	            <input class="form-control mr-sm-2" type="text" aria-label="Search">
	        </form>
</div>

		</nav>

</div>
</header>
