<div class="container">
          <div class="card text-center">
              <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav nav-tabs card-header-tabs">
                          <li routerLinkActive="active" class="nav-item">
                            <a class="nav-link active" routerLink="/lugares">Lugares</a>
                          </li>
                                                
                          <li routerLinkActive="active" class="nav-item">
                              <a class="nav-link" routerLink="/contacto">Contacto</a>
                          </li>
                      </ul>        
                    </div>

                    <div class="col-md-2 offset-md-2">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li routerLinkActive="active" class="nav-item">
                              <a class="nav-link active" routerLink="/crear">Crear anuncio</a>
                            </li>
                             
                          </ul>
                    </div>                       
                </div> <!-- /row-->   
              </div>  <!-- /card-header-->
            </div> <!-- /card text-center-->

            <div class="lista-lugares mt-3">
              <ul>
                  <ng-container *ngFor="let lugar of lugares" >
                  <a routerLink="../detalle/{{lugar.id}}" [queryParams]="{action:'view',referer:'google'}">
                    <li>
              <!--  <li *ngIf="lugar.active"> -->
                      {{ lugar.nombre }}
                    </li>
                  </a>
                  </ng-container>
              </ul>
            </div> <!-- /lista-lugares-->              
</div> <!-- /container-->  


